@media only screen and (max-width: 640px) {
  .table td,
  .table th {
    padding: 10px 3.5px !important;
  }

  table.table.table-striped.table-bordered.table-hover {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 768px) {
  .table td,
  .table th {
    padding: 10px 7px !important;
  }

  table.table.table-striped.table-bordered.table-hover {
    font-size: 1rem;
  }
}
